<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicationproject">

    <!-- 인터넷 사용 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <!-- 알람 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MedicationProject"
        android:windowSoftInputMode="stateAlwaysHidden">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/progressbar_progressbar1" />
        <activity android:name=".TimerAdd"/>
        <activity android:name=".LayoutDrug1"/>
        <activity android:name=".LayoutDrug2"/>
        <activity android:name=".LayoutDrug3"/>
        <activity android:name=".LayoutDrug4"/>
        <activity android:name=".LayoutDrug5"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".FamilyList" />
        <activity android:name=".BloodSugar" />
        <activity android:name=".BloodPressure" />
        <activity android:name=".TimerAlam" />
        <activity android:name=".Login" />
        <activity android:name=".EnterGrup" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>